body{
 background-color: rgb(245, 245, 234);
}
h2{
 color: rgb(8, 225, 253);
 font-family: "Sitka Text Semibold";
}
h1{
    color: rgb(36, 121, 36);
    font-family: "Castellar";
    font-weight: 700;
    text-align: center;
}
h3{
 color: rgb(60, 221, 233);
}
li{
    list-style:conic-gradient(rgb(255, 251, 0), rgb(152, 224, 70),rgb(240, 183, 193));
}
ul{
    list-style:conic-gradient(rgb(240, 159, 53), rgb(152, 224, 70));
}
.bx1{
    background-color: rgb(131, 27, 79);
    border: crimson;
    margin: 8px;
    width:9.5cm;
    border-radius: 10px;
    padding-left: 5px;
    position: sticky;
    flex-direction: row;
}
li{
    color: gold;
}
#bxright2{
    float: right;
    height: 7.3cm;
    margin-right: 10px;
}
#bxright3{
    float: right;
    margin-right: 10px;
}
#bxleft1{
    float: left;
    height: 7.3cm;
    margin-left: 10px;
}
#bxleft4{
    float: left;
    height: 7.3cm;
    margin-left: 10px;
}
