h2{
    color: orangered;
    font-family:"Dubai Medium";
    font-weight: bold;
    font-size: 70px;
    background:rgb(238, 219, 45);
    text-align: center;
}
img{
    height: 331px;
    width:220px
}